.form
  display flex
  flex-direction column
  width 380px
  padding 40px 30px 32px 30px
  background-color $color-white

  &__title
    {text-h1}
    margin-bottom 20px

  &__button-wrapper
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    margin-top 20px
    &_text
      {montserrat-regular}
      font-size 14px
      line-height 18px
      color $color-dark-shade

  &__auth-button
    margin-top 10px
    margin-bottom 10px
  &__error
    {text-body}
    color $color-error

  &__dates-wrapper
    display flex
    flex-direction row
    justify-content space-between
    align-items flex-start
    flex 1
    margin-bottom 10px

.form__dates-wrapper > .input-date
  min-width 0
.form__dates-wrapper > .input-date:first-child
  margin-right 20px
.form > .input-date
  margin-top 20px
.form .multiply
  margin-bottom 20px
.form-search .submit-button
  margin-top 10px