@import '../../fonts/style.styl';
@import '../../scenes/style.styl';
@import '~js-datepicker/dist/datepicker.min.css';

title = @block {
  {montserrat-bold}
  font-size 19px
  line-height 23px
}

text-bold = @block {
  {montserrat-bold}
  font-size 12px
  line-height 15px
}

text-normal = @block {
  {montserrat-regular}
  font-size 12px
  line-height 15px
}

.input-date
  width 100%

  &__title
    {text-bold}
    text-transform uppercase
    color $color-dark-shade
    text-align left
    margin-bottom 5px

  &__input
    width 100%
    {text-body}
    border 1px solid $color-dark-shade-25
    border-radius 4px
    padding 7px 31px 11px 14px
    background-color $color-white

.qs-datepicker-container
  width 320px
.qs-controls
  padding-top 20px
  padding-right 20px
  padding-left 20px
  background $color-white
.qs-month-year
  {title}
  color $color-dark-shade
.qs-month-year:not(.qs-disabled-year-overlay):hover
  border-bottom 0
.qs-squares
  padding 30px 19px 20px 20px
.qs-square
  width 39.88px
  height 40px
.qs-day
  color $color-purple
.qs-num
  {text-normal}
  border-radius: 22px
.qs-active
  {text-bold}
  background: $gradient
  color $color-white

.qs-current
  {text-bold}
  background: $gradient-green
  color $color-white
  text-decoration none

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover
  {text-bold}
  background: $gradient-green
  color $color-white

.qs-overlay
  background $color-white
  color $color-dark-shade
  padding 20px
.qs-overlay .qs-overlay-year
  {text-bold}
  color $color-dark-shade
.qs-overlay-year::placeholder
  {text-normal}
  color $color-dark-shade-25
.qs-range-middle
  background $gradient
  opacity 0.25
.qs-range-start
  {text-bold}
  background: $gradient
  color $color-white