@import '../../fonts/style.styl'
@import '../style.styl';

.scene
  &__authorization
    &_form
      &_auth-button
        margin-top 10px
        margin-bottom 10px
      &_button-wrapper
        display flex
        flex-direction row
        justify-content space-between
        align-items center
        margin-top 20px
      &_button-wrapper-text
        {montserrat-regular}
        font-size 14px
        line-height 18px
        color $color-dark-shade

