@import '../../fonts/style.styl';
@import '../../scenes/style.styl';

.header
  display flex
  align-items center
  justify-content flex-end
  &_button
    {text-link}
    color: $color-dark-shade-50
    background-color transparent

    &:hover
    &:focus
      color: $color-dark-shade-75
  &_item
    margin-left 10px
    margin-right 10px

.active
  color: $color-dark-shade-75

