@import '../../fonts/style.styl';
@import '../../scenes/style.styl';

.header
  display flex
  align-items center
  position fixed
  z-index 10
  top 0
  width 100%
  padding-top  15px
  padding-bottom 15px
  padding-left 16px
  padding-right 16px
  background-color $color-white

  &__menu-button
    position relative
    justify-content: center;
    width 34px
    height 34px
    {gradient-text}
    &:focus
    &:focus-visible
      border-width 0
      outline 2px $color-purple

    &.hide
      display none
    &.show
      display flex

  &__wrapper
    display flex
    align-items center
    justify-content space-between
    width 100%

  &__button
    {text-link}
    color: $color-dark-shade-50
    background-color transparent

    &:hover
    &:focus
      color: $color-dark-shade-75

  &__items
    display flex
    flex-direction row
    &.hide
      display none
    &.show
      display flex

  &__item
    margin-left 10px
    margin-right 10px

    &:last-child
      margin-right 0

  &__items-mobile
    position absolute
    left 0
    right 0
    display flex
    flex-direction column
    width 100%
    background-color $color-white
    padding-bottom 16px
    padding-left 16px
    padding-right 16px

    &.hide
      display none
    &.show
      display flex

  &__items-mobile .header__item
    justify-content center
    padding-top 8px
    padding-bottom 8px
    margin-top 4px
    margin-bottom 4px
    margin-left 0
    margin-right 0
  &__items-mobile .button__stroke
    padding-top 2px
    padding-bottom 2px
  &__items-mobile .button__fill
    padding 14px 19px 15px 21px

  &__items-mobile .dropdown
    width 100%

  &__items-mobile .dropdown_toggle
    justify-content center

  &__items-mobile .dropdown .dropdown_list
    width 100%
    left 0
    top 32px

  &__items-mobile .dropdown .dropdown_list__item
    width 100%
    justify-content center

.active
  color: $color-dark-shade-75

@media screen and (min-width 736px)
  .header
    padding-right 100px
    padding-left 100px

    &__items-mobile
      padding-right 100px
      padding-left 100px
    &__items-mobile .header_item
      background-color red
      margin-top 4px
      margin-bottom 4px

    &__items-mobile .dropdown .dropdown_list__item
      //margin-right 100px
      //margin-left 100px

@media screen and (min-width 1008px)
  .header
    padding-right 140px
    padding-left 140px

    &__items-mobile
      padding-right 140px
      padding-left 140px

    &__items-mobile .header__item
      margin-top 4px
      margin-bottom 4px

    &__items-mobile .dropdown .dropdown_list__item
      //margin-right 140px
      //margin-left 140px

