@font-face {
  font-family 'Material Icons';
  font-style normal;
  font-weight 400;
  src url(./MaterialIcons-Regular.eot); /* For IE6-8 */
  src local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(./MaterialIcons-Regular.woff2) format('woff2'),
  url(./MaterialIcons-Regular.woff) format('woff'),
  url(./MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family Montserrat;
  src url(./montserrat-regular-webfont.ttf),
      url(./montserrat-regular-webfont.woff);
  font-style normal;
  font-weight 400;
}

@font-face {
  font-family Montserrat;
  src url(./montserrat-bold-webfont.ttf),
      url(./montserrat-bold-webfont.woff);
  font-style normal;
  font-weight 700;
}

@font-face {
  font-family Quicksand;
  src url(./quicksand-regular-webfont.ttf),
      url(./quicksand-regular-webfont.woff);
  font-style normal;
  font-weight 400;
}

@font-face {
  font-family Quicksand;
  src url(./quicksand-bold-webfont.ttf),
      url(./quicksand-bold-webfont.woff);
  font-style normal;
  font-weight 700;
}