@import '../../fonts/style.styl';
@import '../../scenes/style.styl';

.button
  display flex
  align-items center
  position relative
  cursor pointer

  &_stroke
    position relative
    {text-h3}
    padding 14px 19px 15px 21px

    background $gradient
    -webkit-background-clip text
    background-clip text
    -webkit-text-fill-color: transparent
    color transparent

    border-radius 22px

    &::before
      content ''
      position:absolute
      z-index -1
      inset 0
      border 2px solid transparent
      border-radius 22px
      background inherit
      background-origin border-box
      background-clip border-box
      -webkit-mask:
              linear-gradient(#fff 0 0) padding-box,
              linear-gradient(#fff 0 0)
      -webkit-mask-composite: xor
      mask-composite: exclude
      -webkit-mask-repeat: no-repeat

    &:hover
    &:focus
      opacity 0.5

  &_fill
    {text-h3}
    padding 14px 19px 15px 21px
    color $color-white
    background $gradient

    border-radius 22px
    &:hover
    &:focus
      opacity 0.5

    &__with-icon
      padding-right 0

    //border-image linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
.material-icons
  font-family 'Material Icons'
  font-weight normal
  font-style normal
  display inline-block
  font-size 24px  /* Preferred icon size */
  line-height 1
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing antialiased
  /* Support for Safari and Chrome. */
  text-rendering optimizeLegibility
  /* Support for Firefox. */
  -moz-osx-font-smoothing grayscale
  /* Support for IE. */
  font-feature-settings 'liga'

.fill-icon
  line-height 15px
  width 44px
  margin-left  21px
