@import '~js-datepicker/dist/datepicker.min.css';

.input-text
.input-email
.input-password
.input-date
  display flex
  flex-direction column
  flex 1

  &__title
    {montserrat-bold}
    font-size 12px
    line-height 15px
    text-transform uppercase
    color $color-dark-shade
    text-align left
    margin-bottom 5px

  &__input
    {montserrat-regular}
    font-size 14px
    line-height 18px
    height 44px
    padding 13px 15px
    margin-bottom 10px
    color $color-dark-shade-25
    background $color-white
    border 1px solid $color-dark-shade-25
    border-radius 4px

    &:hover
    &:focus
      color $color-dark-shade-75
      {text-body}
      padding 12px 15px 8px 15px
      border: 1px solid $color-dark-shade-50
      outline 0
    &::placeholder
      text-transform capitalize
    &:user-invalid
      color $color-error
      border: 1px solid $color-error
  &__input.error
    color $color-error
    border: 1px solid $color-error

  &__error.error
    margin-bottom 10px
    color $color-error

.qs-datepicker-container
  width 320px
.qs-controls
  padding-top 20px
  padding-right 20px
  padding-left 20px
  background $color-white
.qs-month-year
  {title}
  color $color-dark-shade
.qs-month-year:not(.qs-disabled-year-overlay):hover
  border-bottom 0
.qs-squares
  padding 30px 19px 20px 20px
.qs-square
  width 39.88px
  height 40px
.qs-day
  color $color-purple
.qs-num
  {text-normal}
  border-radius: 22px
.qs-active
  {text-bold}
  background: $gradient
  color $color-white
.qs-current
  {text-bold}
  background: $gradient-green
  color $color-white
  text-decoration none
.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover
  {text-bold}
  background: $gradient-green
  color $color-white
.qs-overlay
  background $color-white
  color $color-dark-shade
  padding 20px
.qs-overlay .qs-overlay-year
  {text-bold}
  color $color-dark-shade
.qs-overlay-year::placeholder
  {text-normal}
  color $color-dark-shade-25
.qs-range-middle
  background $gradient
  opacity 0.25
.qs-range-start
  {text-bold}
  background: $gradient
  color $color-white
