@import '../../fonts/style.styl';
@import '../../scenes/style.styl';

.dropdown
  display block
  position relative

  &_toggle
    background-color transparent
    font-family Montserrat, Arial, Helvetica, sans-serif
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height 15px
    color: $color-dark-shade-50;


